body {
    background-color: #222222;
}
.header {
    background-color:#bbbbbb;
    position: absolute;
    left:0;
    right: 0;
    top:0;
    display: flex;
    justify-content: space-between;
}
#addBook {
    visibility: hidden;
    position:absolute;
}
.book {
    width: max(90%, 100px);
    height: max(90%, 100px);
    background-color: #999999;
    border-radius: 30px;
    border: 3px solid rgb(255, 157, 0);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
} 
.book > h1 {
    color: #eeeeee;
    text-align: center;
}
.book > button {
    width: 70%;
    height: 40px;
    border-radius: 15px;
    border: none;
}
.book > button:hover{
    border: 2px solid white;
    transition: border 0.1s;
}
.bookRead {
    background-image: linear-gradient(45deg, rgb(0, 149, 255), #3eeafd);
}
.remover {
    background-image: linear-gradient(45deg, red, orange);
}
.books {
    margin-top: 100px;
    display: grid;
    grid-template-columns:repeat(auto-fill, min(100px, 12vw));
    gap:10px;
}
#makeSmall {
    display: inline-block;
    height: 40px;
    align-self: center;
    margin-right: 10px;
    border-radius: 15px;
    border: none;
}
#makeSmall:hover{
    border: 2px solid black;
    transition: border 0.1s;
}